---
layout: archive
---

<body>
  <h3> Welcome! I'm Arpan </h3>
  <p> Delighted to have you here! I'm Arpan, a dedicated scientist immersed in the captivating realms of theoretical and computational chemistry/physics. My expertise revolves around advanced functional and quantum materials, fueled by a robust academic foundation and hands-on experience.</p>
  <p>I proudly earned my Ph.D. with <em>summa cum laude</em> from Humboldt University of Berlin in theoretical and physical chemistry, marking the inception of a fascinating journey. With over 5 years of post-Ph.D. research, I've delved deep into crafting and employing cutting-edge theoretical and computational tools. These tools unravel the mysteries of materials science, amplifying advancements in quantum technologies, semiconductor innovations, and addressing critical energy and sustainability challenges. </p>
  <p>This website is a testament to my commitment to pushing the boundaries of scientific exploration. Explore my CV, publications, research, and software to delve into the intricate tapestry of my professional odyssey.</p>
  <p>Thank you for your visit, and I hope you find my journey as thrilling as I've experienced it!</p>
</body>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
